sudo: required

services:
  - docker

language: node_js

node_js:
  - "node"
  - "6"
  - "5"
  - "4"

before_install:
  - docker run --name test-mysql -e MYSQL_ROOT_PASSWORD=1234 -d mysql
  - docker run --name test-sqoop --link test-mysql:mysql -d -p 12000:12000 jimexist/sqoop:1.99.7-4

script:
  - npm run coverage
