sudo: required

language: node_js

node_js:
  - "node"
  - "6"
  - "5"
  - "4"

env:
  global:
    - CACHE_DIR=$HOME/.cache/docker
    - CACHE_FILE_SQOOP=$CACHE_DIR/sqoop.tar.gz

services:
  - docker

cache:
  directories:
  - $CACHE_DIR

before_install:
  - mkdir -p $CACHE_DIR
  - if [ -f ${CACHE_FILE_SQOOP} ]; then gunzip -c ${CACHE_FILE_SQOOP} | docker load; fi

install:
  - if [ ! -f ${CACHE_FILE_SQOOP} ]; then docker save jimexist/sqoop | gzip > ${CACHE_FILE_SQOOP}; fi
  - docker run -d -p 12000:12000 jimexist/sqoop

script:
  npm run coverage